@using PayrollAndHr.Client.Services;
@using PayrollAndHr.Client.Shared.Components
@using System.IdentityModel.Tokens.Jwt;
@inherits LayoutComponentBase

@inject NavigationManager navigationManager
@inject ISessionStorageService _sessionStorageService;
@inject IAuthService _authservice

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="/AdminPortal/Index" class="navbar-brand">
                                <div class="brand-text hidden-sm-down">@*<span>Bootstrap </span>*@<strong class="text-primary"></strong></div>
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-transform:capitalize;">
                                    <i class="fa fa-user fa-fw"></i> @username <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    
                                    <li>
                                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onclick="LogOut()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
*@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    private string username = "";
    private string jwtToken = "";
    protected override async Task OnInitializedAsync()
    {
        jwtToken = await _sessionStorageService.GetItemAsStringAsync("jwtToken");

        if (IsTokenExpired(jwtToken))
        {
            // Token is expired, redirect to login page
            navigationManager.NavigateTo("/");
        }
        username += await _sessionStorageService.GetItemAsync<string>("UserName");
    }
    private bool IsTokenExpired(string token)
    {
        if(DateTime.UtcNow >= GetTokenExpirationTime(jwtToken))
        {
            return true;   
        }        
        return false; 
    }

    public DateTime? GetTokenExpirationTime(string token)
    {
        if (string.IsNullOrEmpty(token))
        {
            return null;
        }

        var handler = new JwtSecurityTokenHandler();

        var jsonToken = handler.ReadToken(token) as JwtSecurityToken;

            if (jsonToken != null && jsonToken.ValidTo != DateTime.MinValue)
            {
                return jsonToken.ValidTo;
            }
            return null;
        }
}