@page "/employeeindex/"
@layout PayrollAndHr.Client.Shared.Layouts.EmployeeLayout

<div class="well">
    <h3></h3>
    Click on the Employee side link<br />
    The Sub-menu will be expanded for you to click on any of the link.
</div>

@code {

}
