@page "/dashboard/overview"
@page "/dashboard/"
@layout PayrollAndHr.Client.Shared.Layouts.MainLayout

<PageTitle>Dashboard Overview</PageTitle>

<h3>Dashboard Overview</h3>
<div>
    <div>
        <h4>Application Module</h4>
    </div>
</div>

@code {

}
