@page "/setupindex/"
@layout PayrollAndHr.Client.Shared.Layouts.SetUpLayout

<div class="well">
    <h3>How To</h3>
    Click on the setup side link<br />
    The Sub-menu will be expanded for you to click on any of the link.
</div>
@code {

}
