@using PayrollAndHr.Client.Pages;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PayrollAndHr</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/overview" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3 text-white" @onclick="ToggleVisibility">
            <i class="fa fa-cog"></i><span>Payroll Module</span>
            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
            @if (IsVisible)
            {
                <ul id="setupList" class="collapse list-unstyled">
                    <li> <a href="/generalsetup" onclick="">General Setup</a></li>
                    <li> <a href="/staffsetup">Staff Setup</a></li>
                    
                </ul>
            }
        </div>
        <div class="nav-item px-3 text-white" @onclick="ToggleVisibility2">
            <i class="fa fa-bar-chart"></i><span>Payroll Reports</span>
            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
            @if (IsVisible2)
            {
                <ul id="reportList" class="collapse list-unstyled">
                    <li><a href="/Payroll/GeneratePayroll">Payroll Report</a></li>
                    <li> <a href="/Payroll/BankSchedule">Bank Schedule</a></li>
                    <li> <a href="#">Pension Schedule</a></li>
                </ul>
            }
        </div>

    </nav>
</div>


@code {
    private bool collapseNavMenu = true;
    private bool collapseNavMenu2 = true;
    private bool IsVisible = false;
    private bool IsVisible2 = false;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
  

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleVisibility()
    {
        IsVisible = !IsVisible;
    }
    private void ToggleVisibility2()
    {
        IsVisible2 = !IsVisible2;
    }
}



