@using PayrollAndHr.Client.Pages;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PayrollAndHr</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/overview" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3 text-white" @onclick="ToggleVisibility">
            <i class="fa fa-cog"></i><span class="oi">Setup</span>
            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
            @if (IsVisible)
            {
                <ul id="setupList" class="collapse list-unstyled">
                    <li> <a href="/setupcompanyinfo">Company Info</a></li>
                    <li> <a href="/setupaddnewbranch">Branch</a></li>
                    <li> <a href="/Setup/EmployeeParameterSetup">Employee Parameter</a></li>
                    <li> <a href="#">Staff Status</a></li>
                    <li> <a href="#">Document Upload</a></li>
                </ul>
            }

        </div>

    </nav>
</div>


@code {
    private bool collapseNavMenu = true;
    private bool IsVisible = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleVisibility()
    {
        IsVisible = !IsVisible;
    }
}


