<div class="tab" @onclick="OnTabClick">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnTabSelected { get; set; }

    private async Task OnTabClick()
    {
        await OnTabSelected.InvokeAsync();
    }
}